<div class="command-output-container">
    <div class="command-output">

        <!-- <pre >
            <code>
                {{data}}
            </code>

            
        </pre> -->
        <textarea highlight-js class="command-output-div" [lang]="'markdown'"  [ngModel]="data" cols="20"  wrap="hard"></textarea>
        <!-- <ngx-codemirror class="command-output-div" [ngModel]="data" [autoFocus]=true [options]="{
                lineNumbers: true,
                theme: 'material',
                mode: 'markdown'
            }">
        </ngx-codemirror> -->

    </div>
</div>