
.command-executor {
    // width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
}

.full-width {
    width: 90%;
}

.full-width-input {
    width: 100%;
}